.loadingZone {
	/* margin: 0 auto; */
	width: 410px;
	text-align: center;
	color: inherit;
}

.loadingZone .loadingBar {
	border: 1px solid #666;
	height: 2px;
	text-align: left;
	line-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden; /*fix for IE 6*/
}

.loadingZone .progressBar {
	height: 2px;
	line-height: 0;
	margin: 0;
	padding: 0;
	background: #00ff00;
	width: 0%;
}

.loadingZone .loadingSms {
	color: #666;
	float: left;
	padding: 10px 2px;
}

.loadingZone .infoProgress {
	color: #666;
	float: right;
	padding: 10px 2px;
}